<table border=1>
	<tr>
		<th>Name</th>
		<th>Description</th>
	</tr>

	<% @master.each do |m| %>
	<tr>
		<td><%= m.name %></td>
		<td><%= m.description %></td>
	</tr>	
	<% end %>
</table>

<%= link_to "Create New Master", master_view_new_path %>