<table border=1>
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Master table count</th>
	</tr>

	<% @master.each do |m| %>
	<tr>
		<td><%= link_to m.name, master_secondary_new_path(m) %></td>
		<td><%= m.description %></td>
		<td><%= m.secondaries.count %></td>
	</tr>	
	<% end %>
</table>

<%= link_to "Create New Master", master_view_new_path %>
